.callout[data-callout="dps"] {
    --callout-color: 235, 64, 52;
    --callout-icon: sword;
}

.callout[data-callout="healer"] {
    --callout-color: 52, 235, 73;
    --callout-icon: heart;
}

.callout[data-callout="tank"] {
    --callout-color: 52, 64, 235;
    --callout-icon: shield-half;
}